<div class="page" size="A4">
  <table height="100%" width="100%">
    <tbody>
    <td height="100%" width="30%" class="align-bottom" style="background-image: -webkit-linear-gradient(rgb(254, 203, 41), white);">
      <div>
        <%= image_tag 'utfpr.png', alt: "UTFPR" %>
      </div>
    </td>
    <td height="100%" width="70%">
      <div class="text-center">
        <%#= image_tag 'brasao da republica_cor.jpg', class: "w-25", alt: "Brasão da República" %>

        <img class="w-25" alt="Brasão da República" src="/assets/brasao da republica_cor-d8a2cd6cacbc13f6efc21844727174d93d3be9d0b8c1401ab945b52698af6c0e.jpg">
        <p class="mb-0">República Federativa do Brasil</p>
        <p class="mb-0">Ministério da Educação</p>
        <h5>Universidade Tecnológica Federal do Paraná</h5>
        <h1 class="pt-9 text-uppercase " id="document_kind"><%= t("enums.kinds.#{@document.try(:kind)}") %></h1>
      </div>
      <div class="p-7 pt-0" id="document_description_view">
        <%= raw(sub_hash_fields(@document, 'description')) %>
      </div>
      <%= signature(@document, 'description') %>
    </td>
    </tbody>
  </table>
</div>
<div class="page" size="A4">
  <div class="px-5 pt-0" id="document_activity_view">
    <%= raw(sub_hash_fields(@document, 'activity')) %>
  </div>
  <%= signature(@document, 'activity') %>
  <table class="table">
    <tbody>
    <% @document.users_documents.each do |user_document| %>
      <tr>
        <td><p class="mx-5 my-0 small">Documento assinado eletronicamente por
          <strong><%= user_document.user.try(:name) %> </strong> em
          <%= user_document.signature_datetime.strftime("%d/%m/%Y ás %H:%M") %>, conforme horário oficial de
          Brasilia, com fundamento no art. 6º. § 1º,
          do  <%= link_to 'DECRETO Nº 8.539, DE 8 DE OUTUBRO DE 2015', 'http://www.planalto.gov.br/ccivil_03/_Ato2015-2018/2015/Decreto/D8539.htm' %>
        </p>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="mx-5 my-0 small">
    <p>Código de autenticação:
      <strong><%= @document.clients_documents.find_by(client_id: current_client.id).key_code %></strong>
    </p>
    <p>Para conferir a autenticidade do documento acesse: <%= link_to nil, documents_url %></p>
  </div>

</div>
